#proteger tt les fichier de l'acces direct sauf index
#empicher l 'idexation des dossier
ErrorDocument 403 /smoker/?action=error&&errorMsg=Page+not+found
ErrorDocument 404 /smoker/?action=error&&errorMsg=Page+not+found